.btn {
	display: inline-flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.btn { 
	&-xs {
		min-width: 100px;
		min-height: 10px;
	}
	&-sm {
		min-width: 200px;
		min-height: 30px;
	}
	&-md {
		min-height: 50px;
		min-width: 300px;
	}
	&-lg {
		min-height: 80px;
		min-width: 300px;
	}

}