//// helpers color and background theme
@each $color in $colors {
	._cl--#{nth($color, 1)} {
		color: #{nth($color, 2)};
	}
	._bg--#{nth($color, 1)} {
		background-color: #{nth($color, 2)};
	}
}

// align text
._align-center {
	text-align: center;
}
._align-right {
	text-align: right;
}

// space top
@for $i from 1 through 10 {
	._mt-#{$i} {
		margin-top: get-vw( $i * 10px );
	}
}

// space bottom
@for $i from 1 through 5 {
	._mb-#{$i} {
		margin-bottom: #{$i}0px;
	}
}

//
._item-full {
	max-width: 100%;
	width: 100%;
}

._noscroll {
	overflow: hidden !important;
	max-height: 100vh !important;
}



@mixin noselect {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
